$primary-1: #11a8e0;

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  text-decoration: none;
  &:visited {
    color: black;
  }
}

/* ----- Navbar Component ----- */
.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  padding: 16px 32px 8px;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  transition: all 200ms ease-in-out;

  .nav-brand {
    display: flex;
    vertical-align: middle;
    line-height: 60px;
    padding-bottom: 4px;
    font-size: 18px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $primary-1;
    }

    &:visited {
      color: none;
    }

    img {
      height: 100%;
      width: 60px;
      margin-right: 8px;
    }
  }

  .nav-links {
    margin-left: auto;
    margin-right: 40px;

    a {
      line-height: 60px;
      margin-left: 40px;
      padding-bottom: 4px;
      font-weight: 400;
      font-size: 12px;
      color: white;
      text-decoration: none;
      border-bottom: 2px solid white;
      border-bottom-color: rgba(255, 255, 255, 0);
      transition: all 0.2s ease-in-out;

      &:hover {
        border-bottom-color: rgba(255, 255, 255, 1);
      }

      &:visited {
        color: white;
      }
    }
  }

  &.light {
    z-index: 4;
    background-color: white;
    -webkit-box-shadow: 0 8px 6px -4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 6px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 6px -4px rgba(0, 0, 0, 0.2);

    .nav-brand {
      color: black;
    }

    .nav-links a {
      color: black;
    }
  }
}
